* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(128, 179, 221);
}
.h2 {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 350px;
  padding: 30px;
  background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

  border-radius: 12px;
  position: relative;
}


input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input:focus {
  border-color: #4e73df;
  box-shadow: 0px 0px 5px rgba(78, 115, 223, 0.4);
}

button {
  padding: 10px 20px;
  background-color: royalblue;
  outline: none;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
button:active {
  scale: 0.95;
}
.tip {
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
