* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: #1a1a1a;
  border-radius: 8px;
  width: 700px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock p {
  color: #00eaff;
  font-size: 80px;
  font-family: monospace, sans-serif;

  text-shadow: 0 0 5px #121414, 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 40px #00eaff;
}
