* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #111111;
}
header {
  background-color: #18181b;
  border: 1px solid #27272abf;
  margin-bottom: 1rem;
  padding: 10px;
}
header h1 {
  text-align: center;
  color: #e2e1e1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}


.info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.info .info-style {
  font-size: 52px;
  padding: 30px;
  border: 1.5px solid #17c96433;
  border-radius: 8px;
  color: #e2e1e1;
  margin-bottom: 5px;
}
.info .info-style-char {
  padding: 8px;
  border: 1px solid #17c96433;
  border-radius: 8px;
  color: #e2e1e1;
  text-align: center;
}
textarea {
  padding-inline: 10px;
  padding-block: 10px;
  resize: none;
  font-size: 16px;
  width: 60vw;
  height: 60vh;
   background-color: #18181b;
  border: 1px solid #27272abf;
  border-radius: 8px;
  color: #e2e1e1;
  font-size: 18px;
  line-height: 1.6rem;
}

textarea:focus{
  outline: none;
}